header {
    margin: 0px;
    display: flex;
    padding: 12px;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px #EFEFF0;
}

figure {
  margin: 0px !important;
  width: 318px;
  justify-content: center;
  display: flex;
}

.line {
  color: #EFEFF0;
}
