* {
  font-family: 'Poppins', sans-serif;
  color: #737373;

}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  padding: 12px 24px;
  max-width: 400px;
  margin: 0 auto;
}

.title {
  padding: 27px 0px 27px 0px;
  margin: 0px;
}

h1 {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}

article {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
}

article b {
  font-weight: 700;
}

article p {
  font-weight: 500;
  margin: 0px;
}

.text-footer {
  text-align: center;
  font-size: 10px;
}
